#welcome-section {
  height: 100vh;
  background: rgba(0, 0, 255, 0.288);
  background-image: linear-gradient(
    145deg,
    rgba(7, 5, 117, 0.705),
    rgba(250, 0, 217, 0.027)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #45567d;
  padding-top: 50px;
}

body {
  margin: 0;
  font-size: 20px;
  color: white;
}

nav {
  background-color: black;
  position: fixed;
  width: 100%;
}

ul {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

li {
  padding: 20px;
  margin-right: 10px;
}

li:hover {
  background-color: #45567d;
  cursor: pointer;
}
h1 {
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  color: white;
}

.container {
  text-align: center;
}

.prjct-table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  flex-wrap: wrap;
  margin: 0 auto;
}

.prjct-container {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  border-radius: 4px;
}

.prjct-body {
  width: 350px;
  height: 350px;
}

p {
  margin: 0 0;
  line-height: 50px;
}
.project-tile {
  height: 50px;
  width: 100%;
  border-radius: 4px;
  background-color: black;
}

.project-tile:hover {
  background-color: grey;
}

@media only screen and (max-width: 950px) {
  /* For mobile devices: */
  .prjct-body {
    width: 450px;
    height: 450px;
  }
  .project-tile {
    height: 60px;
  }
  p {
    line-height: 60px;
  }
}

.projects-section-header {
  width: 640px;
  border-bottom: 0.2rem solid white;
}

#profile-link {
  line-height: 50px;
  background: black;
  margin: 20px 0 20px 0;

  border-radius: 4px;
  color: inherit;
  border-style: hidden;
  cursor: pointer;
  height: 50px;
  width: 300px;
}

#profile-link:hover {
  background: grey;
}
