#welcome-section {
  height: 100vh;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  background-color: black;
}

h1 {
  margin: 0;
}

.container {
  background-color: blanchedalmond;
}
